<div class="clients-header">
  <h1>Clients</h1>
  <button mat-fab aria-label="Add button" (click)="addClient()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="mat-elevation-z8">
  <ng-container *ngIf="page$ | async as page">
    <table mat-table [dataSource]="page.content" [trackBy]="trackClients">

      <ng-container matColumnDef="passportId">
        <th mat-header-cell *matHeaderCellDef>Passport ID</th>
        <td mat-cell *matCellDef="let element"><span
          [matTooltip]="element.passport | json">{{element.passport.passportId}}</span></td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} {{element.firstname}} {{element.patronymic}}</td>
      </ng-container>

      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef>Date Of Birth</th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date: 'mediumDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element"> {{element.cityActual.name}}, {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let element"> +375{{element.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef>Sex</th>
        <td mat-cell *matCellDef="let element"> {{SEX.MALE === element.sex ? 'М' : 'Ж' }} </td>
      </ng-container>

      <ng-container matColumnDef="citizenship">
        <th mat-header-cell *matHeaderCellDef>Citizenship</th>
        <td mat-cell *matCellDef="let element">{{element.citizenship.name}}</td>
      </ng-container>

      <ng-container matColumnDef="disability">
        <th mat-header-cell *matHeaderCellDef>Disability</th>
        <td mat-cell *matCellDef="let element">{{element.disability.name}}</td>
      </ng-container>

      <ng-container matColumnDef="maritalStatus">
        <th mat-header-cell *matHeaderCellDef>Marital</th>
        <td mat-cell *matCellDef="let element">{{element.maritalStatus.name}}</td>
      </ng-container>

      <ng-container matColumnDef="isRetired">
        <th mat-header-cell *matHeaderCellDef>Retired</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.retired">check</mat-icon>
          <mat-icon *ngIf="!element.retired">clear</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="Edit button" (click)="editClient(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Delete button" (click)="deleteClient(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="pageSizeOptions"
                   [pageIndex]="page.number"
                   [length]="page.totalElements"
                   showFirstLastButtons
                   aria-label="Select page of clients">
    </mat-paginator>
  </ng-container>
</div>
