.accounts-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accounts-filter {
  display: flex;
  gap: 1rem
}

.date-form, .actions {
  display: flex;
  gap: 1rem;
}

.table {
  margin-top: 1rem;
}
